<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>Hakkımızda</span>
                        <h2>Intercontinental LA <br />Westlake Hotel</h2>
                    </div>
                    <p class="f-para">
                        Sona.com lider bir çevrimiçi konaklama sitesidir. Tutkuluyuz
                        seyahat. Her gün 41 ülkede 90 yerel web sitesinde milyonlarca gezgine ilham veriyor ve onlara ulaşıyoruz.
                    </p>
                    <p class="s-para">
                        Mükemmel otel, tatil kiralama, tatil yeri rezervasyonu söz konusu olduğunda,
                        apartman dairesi, misafir evi veya ağaç ev, ihtiyacınızı karşılıyoruz.
                    </p>
                    <a href="#" class="primary-btn about-btn">Daha Fazla</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="/sona-master/img/about/about-1.jpg" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img src="/sona-master/img/about/about-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>