<section class="hp-room-section">
    <div class="container-fluid">
        <div class="hp-room-items">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/sona-master/img/room/room-b1.jpg">
                        <div class="hr-text">
                            <h3>Double Oda</h3>
                            <h2>1999₺<span>/Gecelik</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Ölçü:</td>
                                        <td>10 m</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Kapasite:</td>
                                        <td>Maksimum 5 Kişi</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Yatak:</td>
                                        <td>Kral Yatağı</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Hizmetler:</td>
                                        <td>Wifi, Tv, Banyo,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">Daha Fazla</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/sona-master/img/room/room-b2.jpg">
                        <div class="hr-text">
                            <h3>Premium Kral Odası</h3>
                            <h2>1599₺<span>/Gecelik</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Ölçü:</td>
                                        <td>10 m</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Kapasite:</td>
                                        <td>Maksimum 5 Kişi</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Yatak:</td>
                                        <td>Kral Yatağı</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Hizmetler:</td>
                                        <td>Wifi, Tv, Banyo,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">Daha Fazla</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/sona-master/img/room/room-b3.jpg">
                        <div class="hr-text">
                            <h3>Deluxe Oda</h3>
                            <h2>1988₺<span>/Gecelik</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Ölçü:</td>
                                        <td>10 m</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Kapasite:</td>
                                        <td>Maksimum 5 Kişi</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Yatak:</td>
                                        <td>Kral Yatağı</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Hizmetler:</td>
                                        <td>Wifi, Tv, Banyo,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">Daha Fazla</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" data-setbg="/sona-master/img/room/room-b4.jpg">
                        <div class="hr-text">
                            <h3>Aile Odası</h3>
                            <h2>2999₺<span>/Gecelik</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Ölçü:</td>
                                        <td>10 m</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Kapasite:</td>
                                        <td>Maksimum 5 Kişi</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Yatak:</td>
                                        <td>Kral Yatağı</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Hizmetler:</td>
                                        <td>Wifi, Tv, Banyo,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">Daha Fazla</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>